<div class="col">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                {{ character.name }}
            </h5>
            <p class="card-text">
                {{ character.race.name }} {{ character.profile.name }} niv. {{ character.level }}<br>
                {{ character.get_gender_display }}, {{ character.age }} ans, {{ character.height_m }}m, {{ character.weight }}kg<br>
                PV {{ character.health_remaining }}/{{ character.health_max }}, PM {{ character.mana_remaining }}/{{ character.mana_max }}<br>
                {% with character.states.all as character_states %}
                    {% for state in all_states %}
                        <img src="{{ state.icon_url }}" alt="{{ state.name }}" height="25" width="25"
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            data-bs-title="{{ state.name }} : {{ state.description }}"
                            {% if state in character_states %}
                                class="state-enabled"
                            {% endif %}
                        >
                    {% endfor %}
                {% endwith %}
            </p>
            {% if character.player == user %}
                <div class="btn-group btn-group-sm">
                    <a href="{% url "character:view" pk=character.pk %}" class="btn btn-success">
                        <i class="fa-solid fa-user"></i> Jouer
                    </a>
                    {% if party %}
                        <a href="{% url "party:leave" pk=party.pk character_pk=character.pk %}" class="btn btn-warning">
                            <i class="fa-solid fa-person-walking-arrow-right"></i> Quitter le groupe
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
