{% load static django_htmx %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Character Sheet{% endblock %}</title>
        <link rel="stylesheet" href="{% static "vendor/bootstrap-5.2.2/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "vendor/fontawesome-6.2.0/css/fontawesome.min.css" %}">
        <link rel="stylesheet" href="{% static "vendor/fontawesome-6.2.0/css/brands.min.css" %}">
        <link rel="stylesheet" href="{% static "vendor/fontawesome-6.2.0/css/solid.min.css" %}">
        <style>
            body {
                margin-bottom: 2em;
                touch-action: manipulation;
            }
        </style>
    </head>
    <body>
        <div class="container">
            {% if user.is_authenticated %}
                <a href="{% url "logout" %}">Déconnexion</a>
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>

        <script src="{% static 'vendor/htmx-1.8.2.min.js' %}" defer></script>
        {% django_htmx_script %}
        {% if debug %}
            <script type="javascript">
                if (typeof window.htmx !== "undefined") {
                    htmx.on("htmx:afterSettle", function(detail) {
                        if (
                            typeof window.djdt !== "undefined"
                            && detail.target instanceof HTMLBodyElement
                        ) {
                            djdt.show_toolbar();
                        }
                    });
                }
            </script>
        {% endif %}
        <script src="{% static "vendor/bootstrap-5.2.2/bootstrap.bundle.min.js" %}"></script>
        <script type="application/javascript" defer>
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
        </script>
    </body>
</html>
