{% load static django_htmx django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}CharaSheet - Gérez votre personnage de Chroniques Oubliées{% endblock %}</title>
        {% include "common/icons.html" %}
        {% include "common/opengraph.html" %}

        <link rel="stylesheet" href="{% static "vendor/bootstrap-5.2.2/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "vendor/fontawesome-6.2.0/css/fontawesome.min.css" %}">
        <link rel="stylesheet" href="{% static "vendor/fontawesome-6.2.0/css/brands.min.css" %}">
        <link rel="stylesheet" href="{% static "vendor/fontawesome-6.2.0/css/solid.min.css" %}">
        <style>
            body {
                margin-bottom: 2em;
                touch-action: manipulation;
            }
        </style>
        <link rel="stylesheet" href="{% static "style.css" %}">
        {% block head_end %}
        {% endblock %}
    </head>
    <body>
        {% include "common/navbar.html" %}
        <div class="container">
            {% bootstrap_messages %}
            {% block content %}
            {% endblock %}
        </div>

        <script src="{% static 'vendor/htmx-1.8.2.min.js' %}" defer></script>
        {% django_htmx_script %}
        {% if debug %}
            <script type="javascript">
                if (typeof window.htmx !== "undefined") {
                    htmx.on("htmx:afterSettle", function(detail) {
                        if (
                            typeof window.djdt !== "undefined"
                            && detail.target instanceof HTMLBodyElement
                        ) {
                            djdt.show_toolbar();
                        }
                    });
                }
            </script>
        {% endif %}
        <script src="{% static "vendor/bootstrap-5.2.2/bootstrap.bundle.min.js" %}"></script>
        <script type="application/javascript" defer>
            let tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
            let tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
            addEventListener("refresh_tooltips", function (event) {
                tooltipList.forEach(tooltip => tooltip.dispose());
                setTimeout(() => {
                    tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
                    tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
                }, 50);
            });
        </script>
    </body>
</html>
