{% load static %}
<!-- HTML Meta Tags -->
<meta name="description" content="Créez et gérez votre personnage du jeu Chroniques Oubliées. Partez à l'aventure avec vos compagnons et votre meneur de jeu !">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://charasheet.augendre.info">
<meta property="og:type" content="website">
<meta property="og:title" content="CharaSheet - Gérez votre personnage de Chroniques Oubliées">
<meta property="og:description" content="Créez et gérez votre personnage du jeu Chroniques Oubliées. Partez à l'aventure avec vos compagnons et votre meneur de jeu !">
<meta property="og:image" content="https://charasheet.augendre.info{% static "icons/android-chrome-256x256.png" %}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="opengraph.dev">
<meta property="twitter:url" content="https://charasheet.augendre.info">
<meta name="twitter:title" content="CharaSheet - Gérez votre personnage de Chroniques Oubliées">
<meta name="twitter:description" content="Créez et gérez votre personnage du jeu Chroniques Oubliées. Partez à l'aventure avec vos compagnons et votre meneur de jeu !">
<meta name="twitter:image" content="https://charasheet.augendre.info{% static "icons/android-chrome-256x256.png" %}">

<!-- Meta Tags Generated via https://opengraph.dev -->
