{% load character_extras %}
<div class="card" id="damage-reduction">
    <h5 class="card-header">
        Réduction de dégâts
        {% if character|managed_by:user %}
            <a hx-get="{% url "character:damage_reduction_change" pk=character.pk %}"
                hx-target="#damage-reduction"
                hx-swap="outerHTML"
                class="btn btn-primary btn-sm"
            >
                <i class="fa-solid fa-pen-to-square"></i> Edit
            </a>
        {% endif %}
    </h5>
    <div class="card-body">
        <p class="card-text">
            {{ character.damage_reduction|linebreaksbr|default:"Rien ici..." }}
        </p>
    </div>
</div>
