{% load character_extras %}
<div class="card" id="equipment">
    <h5 class="card-header">
        Équipement
        {% if character|managed_by:user %}
            <a hx-get="{% url "character:equipment_change" pk=character.pk %}"
               hx-target="#equipment"
               hx-swap="outerHTML"
               class="btn btn-primary btn-sm"
            >
                <i class="fa-solid fa-pen-to-square"></i> Edit
            </a>
        {% endif %}
    </h5>
    <div class="card-body">
        <p class="card-text">
            {{ character.equipment|linebreaksbr|default:"Rien ici..." }}
        </p>
    </div>
    <div class="card-footer">
        {{ character.money_pp }} pp,
        {{ character.money_po }} po,
        {{ character.money_pa }} pa,
        {{ character.money_pc }} pc
    </div>
</div>
