<p id="states">
    États :
    {% with character.states.all as character_states %}
        {% for state in all_states %}
            <img src="{{ state.icon_url }}" alt="{{ state.name }}" height="25" width="25"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-title="{{ state.name }} : {{ state.description }}"
                {% if state in character_states %}
                    class="state-enabled"
                    hx-get="{% url "character:remove_state" pk=character.pk state_pk=state.pk %}"
                {% else %}
                    hx-get="{% url "character:add_state" pk=character.pk state_pk=state.pk %}"
                {% endif %}
                hx-target="#states"
                hx-swap="outerHTML"
            >
        {% endfor %}
    {% endwith %}
</p>
