{% extends "common/base.html" %}
{% load character_extras %}

{% block title %}Liste de personnages{% endblock %}

{% block content %}
    <h1>Personnages</h1>
    <a id="new-character" href="{% url "character:create" %}" class="btn btn-primary mb-3">
        <i class="fa-solid fa-user-plus"></i> Nouveau perso
    </a>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        {% for character in characters %}
            {% include "character/snippets/characters_list/character_card.html" %}
        {% endfor %}
    </div>
{% endblock %}
