<div class="col">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                {{ character.name }}
            </h5>
            <p class="card-text">
                {{ character.race.name }} {{ character.profile.name }} niv. {{ character.level }}<br>
                {{ character.get_gender_display }}, {{ character.age }} ans, {{ character.height_m }}m, {{ character.weight }}kg<br>
                PV {{ character.health_remaining }}/{{ character.health_max }}, PM {{ character.mana_remaining }}/{{ character.mana_max }}
            </p>
            <a href="{% url "character:view" pk=character.pk %}" class="btn btn-sm btn-success">
                <i class="fa-solid fa-user"></i> Play
            </a>
        </div>
    </div>
</div>
