<form id="equipment">
    <div class="card">
        <h5 class="card-header">
            Équipement
            <a hx-post="{% url "character:equipment_change" pk=character.pk %}"
                hx-target="#equipment"
                hx-swap="innerHTML"
                class="btn btn-primary btn-sm"
            >
                <i class="fa-solid fa-save"></i> Save
            </a>
        </h5>
        <div class="card-body">
            {% csrf_token %}
            <textarea class="form-control" name="equipment" rows="10">{{ character.equipment }}</textarea>
        </div>
        <div class="card-footer">
            {{ character.money_pp }} pp,
            {{ character.money_po }} po,
            {{ character.money_pa }} pa,
            {{ character.money_pc }} pc
        </div>
    </div>
</form>
