<div class="mt-3" id="notes">
    <form>
        <h4>
            Notes
            <a hx-post="{% url "character:notes_change" pk=character.pk %}"
                hx-target="#notes"
                hx-swap="innerHTML"
                class="btn btn-primary btn-sm"
            >
                <i class="fa-solid fa-save"></i> Save
            </a>
        </h4>
        {% csrf_token %}
        <textarea class="form-control" name="notes" rows="10">{{ character.notes }}</textarea>
    </form>
</div>
